/* .list{
  text-align: center;
}

.card{
  margin-top: 30px;

   margin-top: 30px;
  width:30vw;
  margin-left: 500px;
   margin-left: 30px; 
  background-color:rgb(47, 95, 110);

}

.card3{

  margin-top: 30px;
  width:30vw;
   margin-left: 500px; 
  background-color:rgb(47, 95, 110);
} 


.card2{

  margin-top: 30px;
  width:30vw;
   margin-left: 500px; 
  background-color:rgb(47, 95, 110);
}  */
