.image-button-container {
    display: flex;
    align-items: center;
    border: 1px solid black;
    border-radius: 50px;
    width: 300px;
    padding: 15px 60px;
    margin: 10px auto;
}

.image-button-container > img {
    width: 80px;
    margin-right: 10px;
}