/* /* .App {
  text-align: center;
} */

.home{
  margin-top:25px;
}

.list{
  text-align: center;
}

.card{
  margin-top: 30px;
  width:30vw;
  margin-left: 500px;
  background-color:rgb(47, 95, 110);
  
}

